.header {
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  margin: 45px auto 0;
  padding-bottom: 74px;
  box-sizing: border-box;
  max-width: 880px;
  min-width: 320px;
  width: 68.75%;
  height: 56px;
}

@media screen and (max-width: 1000px) {
  .header {
    padding-bottom: 31.6px;
    margin: 28px auto 0;
    padding-bottom: 31.6px;
  }
}